<div class="w-full h-[400px]" *ngIf="currentSlide">
  <div class="carousel-cell w-full h-full relative flex justify-center items-center">
    <img
      class="w-full h-full object-cover"
      [src]="currentSlide.image"
      [alt]="currentSlide.title"
    />
    <div class="absolute inset-0 bg-black bg-opacity-30 flex flex-col justify-center items-center text-white z-10">
      <h2 class="text-4xl md:text-6xl font-bold" style="font-size: 80px; font-family: 'Tenor Sans', sans-serif;">
        {{ currentSlide.title }}
      </h2>
    </div>
    <div class="absolute inset-0 bg-black opacity-30 z-0"></div>
  </div>
</div>
