<app-hero-header></app-hero-header>

<div id="commissions-section" class="text-center max-w-2xl mx-auto my-12 px-6">
  <div class="mb-8">
    <h2 class="text-3xl font-bold">Personalized Art Commissions</h2>
  </div>
  <div class="text-center leading-7" style="font-size: 23.4px; font-weight: 500">
    <p class="mb-4">
      Personalized artwork offers a deeper connection, with symbolism and meaning tailored specifically to you. Each piece is created uniquely for you, based on your dreams and vision.
    </p>
    <p class="mb-4">
      I would love to create a special artwork just for you! The best results come when you keep an open mind and allow space for artistic interpretation.
    </p>
    <p class="mb-4">
      Due to high demand, I am currently accepting commissions with a deposit. Please note that custom artwork may take 1-6 months to complete. The deposit is non-refundable but will be applied to the total cost of your commission. If you choose not to proceed with the commission, you can apply the deposit toward any other products on my site.
    </p>
    <p class="mb-4">
      Here’s a list of prices for sketches (in inches):
    </p>
    <ul class="list-none pl-5 mb-4">
      <li>15x22: $650</li>
      <li>20x24: $900</li>
      <li>22x30: $1,200</li>
    </ul>
    <p class="mb-4">
      For oil painting commissions, the price is $8 per square inch. The smallest size available is 18x24, starting at $3,450.
    </p>
    <p class="mb-4 font-semibold">
      <a href="https://forms.gle/ibpuMTpdmkEDnJJk9" class="text-blue-600 underline">Click here</a> to fill out my personalized art form, and I’ll connect with you shortly!
    </p>
  </div>
</div>

<div class="text-center mt-16">
  <h2 class="text-3xl font-bold" style="font-family: 'Tenor Sans', sans-serif;">YOU MAY ALSO LIKE</h2>
</div>
<app-shop-by-collection-cards></app-shop-by-collection-cards>
