.side-nav {
  width: 350px;
  transition: transform 0.3s ease-in-out;
}

.side-nav.open {
  transform: translateX(0);
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
