.search-box {
  background-color: #e6e6e6;
}
.search-bar-helper {
  padding-top: 3rem;
}
.search-icon-helper {
  position: absolute;
  right: 10px;
  top: 4.8rem;
  transform: translateY(-50%);
}
.close-icon-helper {
  font-size: 26px;
  position: absolute;
  right: -35px;
  top: 4.8rem;
  transform: translateY(-50%);
}

